#### Dataset: https://www.kaggle.com/datasets/grouplens/movielens-20m-dataset?select=tag.csv

In [58]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [59]:
df = pd.read_csv("../dataset.csv").dropna()

In [60]:
df = df.drop(['Unnamed: 0'], axis=1)

In [61]:
df.head(1)

,movie_id,user_id,user_rating,user_gender,user_zip_code,user_occupation_text,bucketized_user_age
0,357,138,4.0,1,53211,doctor,45.0

In [62]:
df = df.reindex(['movie_id', 'user_id', 'user_gender',"user_zip_code", 
            'user_occupation_text','bucketized_user_age', 'user_rating'], axis="columns")

In [63]:
df.dtypes

movie_id                  int64
user_id                   int64
user_gender               int64
user_zip_code            object
user_occupation_text     object
bucketized_user_age     float64
user_rating             float64
dtype: object

In [64]:
le = LabelEncoder()

In [65]:
df['movie_id'] = le.fit_transform(df['movie_id'])
df['user_id'] = le.fit_transform(df['user_id'])
df['user_gender'] = le.fit_transform(df['user_gender'])
df['user_zip_code'] = le.fit_transform(df['user_zip_code'])
df['user_occupation_text'] = le.fit_transform(df['user_occupation_text'])
df['bucketized_user_age'] = le.fit_transform(df['bucketized_user_age'])
df['user_rating'] = le.fit_transform(df['user_rating'])

In [66]:
df = df.astype(int)

In [67]:
df.dtypes

movie_id                int64
user_id                 int64
user_gender             int64
user_zip_code           int64
user_occupation_text    int64
bucketized_user_age     int64
user_rating             int64
dtype: object

In [68]:
#df['user_rating'] -= 1

In [69]:
df['user_rating'].unique()

array([3, 1, 2, 4, 0])

In [73]:
df.to_csv("../movies_dataset.csv")

In [70]:
df

,movie_id,user_id,user_gender,user_zip_code,user_occupation_text,bucketized_user_age,user_rating
0,356,137,1,398,2,4,3
1,708,91,1,591,5,2,1
2,411,300,1,446,18,1,3
3,55,59,1,60,7,5,3
4,894,196,1,537,19,5,2
...,...,...,...,...,...,...,...
99995,227,773,1,581,18,2,3
99996,332,312,1,459,11,3,3
99997,566,261,0,569,18,1,0
99998,182,910,0,397,20,3,3
99999,1139,275,1,715,18,1,1

In [71]:
df['bucketized_user_age'].unique()

array([4, 2, 1, 5, 6, 3, 0])

In [74]:
vals = []
vals.append(len(df['movie_id'].unique()))
vals.append(len(df['user_id'].unique()))
vals.append(len(df['user_gender'].unique()))
vals.append(len(df['user_zip_code'].unique()))
vals.append(len(df['user_occupation_text'].unique()))
vals.append(len(df['bucketized_user_age'].unique()))

In [77]:
import math
tot = sum(6 * i**(1/4) for i in vals)
tot

133.27217464888506