#### https://zenodo.org/records/2594012

In [45]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [46]:
df = pd.read_csv("test.csv")

In [47]:
df = df.sort_values(by=['id'])

In [48]:
df.shape

(4218938, 24)

In [49]:
df = df[0:1000000]

In [50]:
len(df['id'].unique())

1000000

In [51]:
df.head(5)

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
587608,2.404121e+12,0,14103004,1005,0,85f751fd,c4e18dd6,50e219e0,d36838b1,0e8616ad,...,1,2,23804,320,50,2726,3,803,-1,229
1842659,4.294807e+12,0,14103010,1005,1,e151e245,7e091613,f028772b,ecad2386,7801e8d9,...,1,0,22814,320,50,2647,2,39,100148,23
266658,8.254551e+12,0,14103002,1005,1,85f751fd,c4e18dd6,50e219e0,cf0327f9,2347f47a,...,1,0,23646,300,50,2709,3,39,100013,23
1042678,1.441823e+13,0,14103006,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,...,1,0,23160,320,50,2667,0,35,-1,221
539493,1.672237e+13,0,14103004,1005,0,85f751fd,c4e18dd6,50e219e0,d36838b1,0e8616ad,...,1,0,23804,320,50,2726,3,803,-1,229

In [52]:
df.columns

Index(['id', 'click', 'hour', 'C1', 'banner_pos', 'site_id', 'site_domain',
       'site_category', 'app_id', 'app_domain', 'app_category', 'device_id',
       'device_ip', 'device_model', 'device_type', 'device_conn_type', 'C14',
       'C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21'],
      dtype='object')

In [53]:
le = LabelEncoder()

In [54]:
vals = []
for i in df.columns:
    df[i] = le.fit_transform(df[i])

In [55]:
vals = []
for i in df.columns:
    vals.append(len(df[i].unique()))

In [56]:
#

In [57]:
import math
tot = sum(6 * i**(1/4) for i in vals)
tot

864.9455847459343

In [58]:
df['click'].unique()

array([0, 1])

In [59]:
df.to_csv("../avazu_dataset.csv")