#### Books: https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset?select=Books.csv

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [71]:
ratings = pd.read_csv("Ratings.csv").dropna()
users = pd.read_csv("Users.csv").dropna()
books = pd.read_csv("Books.csv").dropna()

<ipython-input-71-6cc6a359de57>:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv").dropna()

In [72]:
books = books.drop(["Image-URL-S", "Image-URL-S", "Image-URL-M", "Image-URL-L",\
                    "Book-Title"], axis=1)

In [73]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [74]:
df = ratings.merge(books, on="ISBN")

In [75]:
df = df.merge(users, on="User-ID")

In [76]:
df = df.drop(['ISBN'], axis=1)

In [77]:
df.dtypes

User-ID                  int64
Book-Rating              int64
Book-Author             object
Year-Of-Publication     object
Publisher               object
Location                object
Age                    float64
dtype: object

In [78]:
df = df.reindex(['Book-Author', 'Location', 'Publisher',"User-ID", 
            'Age','Year-Of-Publication', 'Book-Rating'], axis="columns")

In [79]:
df.shape

(753295, 7)

In [80]:
df = df.head(250000)

In [81]:
le = LabelEncoder()

In [82]:
df['Book-Author'] = le.fit_transform(df['Book-Author'])
df['Location'] = le.fit_transform(df['Location'])
df['Publisher'] = le.fit_transform(df['Publisher'])
df['User-ID'] = le.fit_transform(df['User-ID'])

In [83]:
df.head()

,Book-Author,Location,Publisher,User-ID,Age,Year-Of-Publication,Book-Rating
0,24806,124,559,9,23.0,2002,5
1,29626,124,6037,9,23.0,1986,9
2,37524,124,6369,9,23.0,1994,8
3,32208,124,2676,9,23.0,1996,9
4,6243,124,302,9,23.0,1998,5

In [84]:
df['Age'] = df['Age'].astype(np.int64)
df['Year-Of-Publication'] = df['Year-Of-Publication'].astype(np.int64)

In [85]:
df.dtypes

Book-Author            int64
Location               int64
Publisher              int64
User-ID                int64
Age                    int64
Year-Of-Publication    int64
Book-Rating            int64
dtype: object

In [86]:
df.shape

(250000, 7)

In [87]:
df.to_csv("../books_dataset.csv")

In [88]:
vals = []
vals.append(len(df['Book-Author'].unique()))
vals.append(len(df['Location'].unique()))
vals.append(len(df['Publisher'].unique()))
vals.append(len(df['User-ID'].unique()))

In [89]:
print(vals)

[40607, 698, 6808, 944]

In [90]:
import math
tot = sum(6 * i**(1/4) for i in vals)
tot

203.77202572582766

In [91]:
df.shape

(250000, 7)