In [66]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [67]:
ratings = pd.read_csv("Ratings.csv").dropna()
users = pd.read_csv("Users.csv").dropna()
books = pd.read_csv("Books.csv").dropna()

<ipython-input-67-6cc6a359de57>:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv").dropna()

In [68]:
books = books.drop(["Image-URL-S", "Image-URL-S", "Image-URL-M", "Image-URL-L",\
                    "Book-Title"], axis=1)

In [69]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [70]:
df = ratings.merge(books, on="ISBN")

In [71]:
df = df.merge(users, on="User-ID")

In [72]:
df = df.drop(['ISBN'], axis=1)

In [73]:
df.dtypes

User-ID                  int64
Book-Rating              int64
Book-Author             object
Year-Of-Publication     object
Publisher               object
Location                object
Age                    float64
dtype: object

In [74]:
df = df.reindex(['Book-Author', 'Location', 'Publisher',"User-ID", 
            'Age','Year-Of-Publication', 'Book-Rating'], axis="columns")

In [75]:
le = LabelEncoder()

In [76]:
df['Book-Author'] = le.fit_transform(df['Book-Author'])
df['Location'] = le.fit_transform(df['Location'])
df['Publisher'] = le.fit_transform(df['Publisher'])
df['Book-Author'] = le.fit_transform(df['Book-Author'])

In [77]:
df.head()

,Book-Author,Location,Publisher,User-ID,Age,Year-Of-Publication,Book-Rating
0,53017,2943,1207,2313,23.0,2002,5
1,63275,2943,12909,2313,23.0,1986,9
2,80306,2943,13558,2313,23.0,1994,8
3,69139,2943,5779,2313,23.0,1996,9
4,13190,2943,639,2313,23.0,1998,5

In [78]:
df['Age'] = df['Age'].astype(np.int64)
df['Year-Of-Publication'] = df['Year-Of-Publication'].astype(np.int64)

In [79]:
df.dtypes

Book-Author            int64
Location               int64
Publisher              int64
User-ID                int64
Age                    int64
Year-Of-Publication    int64
Book-Rating            int64
dtype: object

In [80]:
df.to_csv("../books_dataset.csv")