In [89]:
import tensorflow as tf
import tensorflow_datasets as tfds
import pandas as pd
import numpy as np

In [96]:
ratings = tfds.load("movielens/100k-ratings", split="train")

In [92]:
ratings
type(ratings)

tensorflow.python.data.ops.map_op._MapDataset

In [103]:
ratings

<_PrefetchDataset element_spec={'bucketized_user_age': TensorSpec(shape=(), dtype=tf.float32, name=None), 'movie_genres': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'movie_id': TensorSpec(shape=(), dtype=tf.string, name=None), 'movie_title': TensorSpec(shape=(), dtype=tf.string, name=None), 'raw_user_age': TensorSpec(shape=(), dtype=tf.float32, name=None), 'timestamp': TensorSpec(shape=(), dtype=tf.int64, name=None), 'user_gender': TensorSpec(shape=(), dtype=tf.bool, name=None), 'user_id': TensorSpec(shape=(), dtype=tf.string, name=None), 'user_occupation_label': TensorSpec(shape=(), dtype=tf.int64, name=None), 'user_occupation_text': TensorSpec(shape=(), dtype=tf.string, name=None), 'user_rating': TensorSpec(shape=(), dtype=tf.float32, name=None), 'user_zip_code': TensorSpec(shape=(), dtype=tf.string, name=None)}>

In [93]:
ratings.to_csv('dataset.csv', index=False)

AttributeError: '_MapDataset' object has no attribute 'to_csv'

In [97]:
df=tfds.as_dataframe(ds=ratings)

2024-03-23 14:27:26.676842: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence

In [98]:
df.head()

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],b'357',"b""One Flew Over the Cuckoo's Nest (1975)""",46.0,879024327,True,b'138',4,b'doctor',4.0,b'53211'
1,25.0,"[4, 14]",b'709',b'Strictly Ballroom (1992)',32.0,875654590,True,b'92',5,b'entertainment',2.0,b'80525'
2,18.0,[4],b'412',"b'Very Brady Sequel, A (1996)'",24.0,882075110,True,b'301',17,b'student',4.0,b'55439'
3,50.0,"[5, 7]",b'56',b'Pulp Fiction (1994)',50.0,883326919,True,b'60',4,b'healthcare',4.0,b'06472'
4,50.0,"[10, 16]",b'895',b'Scream 2 (1997)',55.0,891409199,True,b'197',18,b'technician',3.0,b'75094'

In [99]:
df.columns

Index(['bucketized_user_age', 'movie_genres', 'movie_id', 'movie_title',
       'raw_user_age', 'timestamp', 'user_gender', 'user_id',
       'user_occupation_label', 'user_occupation_text', 'user_rating',
       'user_zip_code'],
      dtype='object')

In [100]:
new_df = df.drop(['movie_genres', 'timestamp', 'user_occupation_label', 'raw_user_age'], axis=1)

In [101]:
new_df = new_df.reindex(columns=['movie_id', 'user_id', 'user_rating',
                                'user_gender', 'user_zip_code',
                                'user_occupation_text',
                                'bucketized_user_age'],)

In [102]:
new_df.head(1)

,movie_id,user_id,user_rating,user_gender,user_zip_code,user_occupation_text,bucketized_user_age
0,b'357',b'138',4.0,True,b'53211',b'doctor',45.0

In [69]:
new_df.astype([str, str, str, ])

bucketized_user_age      float32
movie_id                  object
user_gender                 bool
user_id                   object
user_occupation_label      int64
user_rating              float32
user_zip_code             object
dtype: object

In [109]:
new_df.head()

,movie_id,user_id,user_rating,user_gender,user_zip_code,user_occupation_text,bucketized_user_age
0,b'357',b'138',4.0,True,b'53211',b'doctor',45.0
1,b'709',b'92',2.0,True,b'80525',b'entertainment',25.0
2,b'412',b'301',4.0,True,b'55439',b'student',18.0
3,b'56',b'60',4.0,True,b'06472',b'healthcare',50.0
4,b'895',b'197',3.0,True,b'75094',b'technician',50.0

In [108]:
element_spec = ratings.element_spec

element_spec

{'bucketized_user_age': TensorSpec(shape=(), dtype=tf.float32, name=None),
 'movie_genres': TensorSpec(shape=(None,), dtype=tf.int64, name=None),
 'movie_id': TensorSpec(shape=(), dtype=tf.string, name=None),
 'movie_title': TensorSpec(shape=(), dtype=tf.string, name=None),
 'raw_user_age': TensorSpec(shape=(), dtype=tf.float32, name=None),
 'timestamp': TensorSpec(shape=(), dtype=tf.int64, name=None),
 'user_gender': TensorSpec(shape=(), dtype=tf.bool, name=None),
 'user_id': TensorSpec(shape=(), dtype=tf.string, name=None),
 'user_occupation_label': TensorSpec(shape=(), dtype=tf.int64, name=None),
 'user_occupation_text': TensorSpec(shape=(), dtype=tf.string, name=None),
 'user_rating': TensorSpec(shape=(), dtype=tf.float32, name=None),
 'user_zip_code': TensorSpec(shape=(), dtype=tf.string, name=None)}

In [117]:
#new_df.astype({"movie_id":str, "user_id":str, "str, str, str, str, str})
new_df = new_df.astype({"movie_id":str, "user_id":str, "user_rating":float, 
"user_gender":int, "user_zip_code":str, "user_occupation_text":str, 
"bucketized_user_age":float})

In [118]:
new_df.dtypes

movie_id                 object
user_id                  object
user_rating             float64
user_gender               int64
user_zip_code            object
user_occupation_text     object
bucketized_user_age     float64
dtype: object

In [119]:
pd.save_csv(new_df, "dataset.csv")

AttributeError: module 'pandas' has no attribute 'save_csv'